@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
	--White: hsl(0, 0%, 100%);
	--Black: hsl(0, 0%, 0%);
	--Dark-gray: hsl(0, 0%, 55%);
	--Very-dark-gray: hsl(0, 0%, 41%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: auto;
	font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;
}

ul {
	list-style: none;
}

a {
	color: var(--White);
	text-decoration: none;
}

.mobile,
.desktop {
	width: 100%;
}

.desktop {
	display: none;
}

.container {
	padding: 0 2rem;
}

/********* HEADER & NAV STYLES **********/

.header {
	height: 66.7rem;
	margin-bottom: 9.7rem;
	background-image: url(images/mobile/image-hero.jpg);
	background-size: cover;
	position: relative;
}

.header.active::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: black;
}

.header-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20rem;
	padding-top: 4rem;
}

.logo {
	height: 25px;
	position: relative;
}

.header-nav-items {
	display: none;
}

.header.active .header-nav-items {
	position: absolute;
	top: 23rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	font-size: 2.5rem;
	text-transform: uppercase;
}

.exit {
	display: none;
	position: absolute;
	top: 4rem;
}

.header.active .exit {
	display: block;
}

.heading h1 {
	padding: 2.5rem;
	font-size: 4rem;
	color: var(--White);
	border: 1px solid var(--White);
}

/********* MISSION SECTION STYLES **********/

.mission-statement {
	margin-bottom: 9rem;
	text-align: center;
}

.mission-statement .mobile {
	margin-bottom: 4.8rem;
}

.ms-container h2 {
	margin-bottom: 2.5rem;
	font-size: 3.3rem;
}

.ms-container p {
	padding: 0 2rem;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.6;
	color: var(--Very-dark-gray);
}

/********* CREATIONS SECTION STYLES **********/

.creations {
	text-align: center;
}

.creations h2 {
	margin-bottom: 5.6rem;
	font-size: 3.3rem;
}

.creations .creations-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 4rem;
}

.creations section {
	position: relative;
}

.creations section::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.creations section h3 {
	position: absolute;
	z-index: 2;
	left: 1.5rem;
	bottom: 2rem;
	font-size: 2.5rem;
	color: var(--White);
	text-align: left;
}

.creations-btn {
	margin-bottom: 7rem;
	padding: 1rem 4rem;
	font-size: 1.5rem;
	font-family: "Alata", sans-serif;
	text-transform: uppercase;
	background-color: transparent;
	letter-spacing: 4px;
	border: 1px solid var(--Black);
}

/********* FOOTER STYLES **********/

.footer {
	padding: 5rem 0;
	text-align: center;
	background-color: var(--Black);
}

.footer-logo {
	margin-bottom: 3rem;
}

.footer-nav-items {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	margin-bottom: 4rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.social-media {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 2rem;
}

small {
	font-size: 1.5rem;
	color: var(--Dark-gray);
}

/********* DESKTOP STYLES **********/

@media screen and (min-width: 1440px) {
	.container {
		padding: 0 15rem;
	}

	.header {
		margin-bottom: 16rem;
		background-image: url(images/desktop/image-hero.jpg);
	}

	.header::before {
		content: "";
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		position: absolute;
	}

	.header-nav {
		margin-bottom: 13rem;
		padding-top: 8rem;
	}

	.header-nav-items {
		position: relative;
		display: flex;
		gap: 3rem;
		font-size: 1.8rem;
		font-weight: bold;
	}

	.logo {
		height: 35px;
	}

	.heading {
		max-width: 60vw;
	}

	.heading h1 {
		position: relative;
		font-size: 7rem;
	}

	.mobile,
	.buttons {
		display: none;
	}

	.desktop {
		display: block;
	}

	/* MISSION SECTION */

	.mission-statement {
		display: grid;
		grid-template-columns: 2fr 1fr;
		position: relative;
		margin-bottom: 18rem;
	}

	.ms-container {
		position: absolute;
		background-color: var(--White);
		width: 600px;
		bottom: 0;
		right: 10rem;
		padding: 10rem 0 0 8rem;
		text-align: left;
	}

	.ms-container h2 {
		font-size: 4.5rem;
	}

	.ms-container p {
		padding: 0;
		font-size: 1.9rem;
	}

	/* CREATIONS SECTION */

	.creations {
		position: relative;
		text-align: left;
	}

	.creations h2 {
		font-size: 4rem;
		margin-bottom: 9rem;
	}

	.creations .creations-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-bottom: 18rem;
	}

	.creations section {
		cursor: pointer;
	}

	.creations section h3 {
		left: 4rem;
		bottom: 4rem;
		font-size: 3.5rem;
	}

	.creations section:hover h3 {
		color: black;
	}

	.creations section::before {
		content: "";
		position: absolute;
		left: 0;
	}

	.creations section:hover::before {
		background-color: rgba(223, 220, 220, 0.7);
	}

	.creations-btn {
		position: absolute;
		top: 0;
		right: 15rem;
		margin-bottom: 0;
		cursor: pointer;
		transition: all 0.2s;
	}

	.creations-btn:hover {
		color: var(--White);
		background-color: var(--Black);
	}

	/* FOOTER STYLES */

	.footer {
		display: flex;
		justify-content: space-between;
		padding: 4rem 0 1rem;
	}

	.footer-logo {
		height: 25px;
		margin-bottom: 0;
	}

	.footer-nav {
		text-align: left;
	}

	.footer-nav-items {
		flex-direction: row;
	}

	.social-media {
		justify-content: right;
		margin-bottom: 0;
	}

	.social-media img {
		height: 25px;
		cursor: pointer;
	}

	.footer-logo,
	.social-media {
		margin-bottom: 3rem;
	}

	small {
		font-size: 1.5rem;
	}

	li {
		position: relative;
	}

	li::after {
		content: "";
		position: absolute;
		bottom: -10px;
		left: 50%;
		width: 0%;
		height: 2px;
		background-color: var(--White);
		transition: all 0.3s ease-out;
	}

	li:hover::after {
		left: 0;
		width: 100%;
	}
}
